@tailwind base;
@tailwind components;
@tailwind utilities;

.banner {
  background-image: url('../assets/wallpaper.jpg');
  background-position: 70% !important;
}

.App {
  padding: 0 !important;
  margin: 0 !important;
}